body {
    background: #eee;
}

#content {
    width: 400px;
    background: #fff;
    padding: 2%;
    padding-top: 0;
    font-family: almendra;
    font-size: 20px;
    color: #444;
    margin: 0 auto;
    max-height: 260px;
    overflow: hidden;
    transition: max-height 0.7s;
}

#content.open {
    max-height: 800px;
    transition: max-height 0.7s;
}

#show-more {
    background: #1594e5;
    margin: 0 auto;
    margin-top: 2%;
    padding: 2%;
    display: block;
    width: 10%;
    color: aliceblue;
    text-align: center;
    font-family: arial;
}

#message {
    background: #9594e5;
    opacity: 0;
}

#message.show {
    background: #9594e5;
    opacity: 1;
    transition: opacity 2s;
}

#color-changer {
    background: #fff;
}
